body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.choose_matura{
  margin: 20px 0;
  display: flex;  
  justify-content: space-evenly;
}

.matura_name{
  text-align: center;
  font-size: 1.5em;
}

.dodajButtons{
  display: flex;
  justify-content: center;
  margin: 70px 0;
  gap: 50px;
}

button{
   background-color: transparent;
   color: inherit;
   border: none;
   cursor: pointer;
   outline: inherit;

}


.bold{
  font-weight: 800;
}