.zadatakDiv{
    background-color: rgb(206, 206, 206);
    min-height: 500px;
    margin: 30px 0;
}

.z_item{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 25px 10px;
}

.z_broj{
    width: 100px !important;
    background-color: red;
}